@{
    ViewBag.Title = "Strona Główna";
}

<div class="jumbotron">
    <h1>Uniwersytet Michała</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Witamy na Uniwersytecie Michała</h2>
        <p>
            Uniwersytet Michała jest przykładową aplikacją, która pokazuje jak używać Entity Framwork 6 w aplikacji internetowej ASP.NET MVC5.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Stwórz projekt od podstaw</h2>
        <p>Możesz zbudować tą aplikację, stosując się do kroków zawartych w tutorialu na stronie ASP.NET.</p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">Zobacz tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pobierz projekt</h2>
        <p>Możesz pobrać kompletny projekt na swój dysk.</p>
        <p><a class="btn btn-default" href="https://webpifeed.blob.core.windows.net/webpifeed/Partners/ASP.NET%20MVC%20Application%20Using%20Entity%20Framework%20Code%20First.zip">Pobierz &raquo;</a></p>
    </div>
</div>